<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Comprehension of heathcare using AI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form class="form" action="/predict" method="POST" >
           <label>age</label>
           <input type="number" name="age" class="form-control"><br>
           <label>sex</label>
           <input type="number" name="sex" class="form-control">
             <label>cp</label>
           <input type="number" name="cp" class="form-control">

            <label>trestbps</label>
           <input type="number" name="trestbps" class="form-control"><br>
           <label>cholestrol</label>
           <input type="number" name="chol" class="form-control">
            <label>fbs</label>
           <input type="number" name="fbs" class="form-control"><br>
           <label>restecg</label>
           <input type="number" name="restecg" class="form-control">
            <label>thalach</label>
           <input type="number" name="thalach" class="form-control"><br>
           <label>exang</label>
           <input type="number" name="exang" class="form-control">
            <label>oldpeak</label>
           <input type="number" name="oldpeak" class="form-control"><br>
           <label>slope</label>
           <input type="number" name="slope" class="form-control">
            <label>ca</label>
           <input type="number" name="ca" class="form-control"><br>
           <label>thal</label>
           <input type="number" name="thal" class="form-control">
            <input type="submit" value="Predict">

        </form>
        <script src="" async defer></script>
    </body>
</html>



